.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.form-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #F5F900;
    background-color: #F754F9;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .title {
    text-align: center;
    width: 100%;
    color: white;
    font-weight: bolder;
  }
  
  label {
    font-size: 1.5em;
    margin-bottom: 0.25em;
    color: black;
    font-weight: lighter;
  }
  
  input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
  }

.namep {
    margin-right: 1%;
  }

  .namep,
  .email,
  .phone,
  .address {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
 .namep, .email, .phone, .address {
    width: 100%;
  }
  
  .checkout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .checkout button {
    background-color: white;
    color: #C40CC6;
    border: 2px solid #982498;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1.2em;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    border-radius: 18px;
  }
  
  .checkout button:hover {
    color: #FFFFFF;
    background-color: #F5B9F5;
    border: 2px solid #EB0CEB;
  }

.error{
    color:red;
    font-weight: bolder;
}