  html,
  body {
      margin:0;
      padding:0;
      height:100%;
      width:100%;
  }
  .row{
      height: 100%;
  }
  .container{
      min-height: 100%;
      position: relative;
  }
.container.sub{
    margin-top: 20px;
}
  /*css content*/
  
  .display{
      display:inline-block;
      box-sizing: border-box;
      text-align: center;
      padding: 5px;
      margin: 30px;
      width: 180px;
  }
  .name{
      font-size: 18px;
      text-align: center;
      padding: 0px 25px;
      font-weight: bold;
  }
  .name a{
      color: black;
  }
  .name a:hover{
      color: deeppink;
  }
  .display img{
      width:200px;
      height:220px;
      padding:0px;
  }
  .price{
      font-size: 18px;
  }

  img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}